.welcomepart{
  width: 100%;
  background-color: rgb(12, 12, 98);
  height: 300px;
}

#welcome{
  color: aliceblue;
  display: block;
  text-align: -webkit-center;
  font-size: 4em;
  font-family: fantasy;
  padding-top: 5%;
}

#welcomedesc{
  color: rgb(161, 179, 194);
  display: block;
  text-align: -webkit-center;
}

#welcomedesc{
  font-size: 1.5em;
}



.ssopart{
  display: block;
  text-align: -webkit-center;

}

#msbutton{
  height: 70px;
  width: 266px;
  margin-top: 5%;

}



